
  
  @import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&family=Poppins&display=swap');


body{
    background-color: #f7f7f7;
}



.bg-img{
    width: 100%;
    background-image: url('./images/cover.jpg');
    background-size: cover;
    background-position: center;
    height: 816px;
   

}

.navbar {
    background-color: #ffffff00;
    font-family: 'Poppins', sans-serif;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right; 
}

.nav-list li {
    display: inline-block;
    margin-right: 20px; 
}

.nav-list li:last-child {
    margin-right: 0; 
}

.nav-list li a {
    color: white;
    text-decoration: none;
}

#arabic{font-family: 'Noto Kufi Arabic', sans-serif;

}

.coverform{
height: 314px;
width: 65%;
background-color: white ;
margin-top: 200px;
border-radius: 48px;

}
.radio-inline {
    display: inline-block;
    margin-right: 10px; 
}
.departure{
    width: 100%;
    height: 103px;
    background-color: #f4f4f4;
    border-radius: 24px;
    border: #cccccc;
    border-style: solid;
    border-width: 2px;
    font-family: 'Poppins', sans-serif;


} 

.horizontal-container {
    display: flex;
    height: 50px;
}

.horizontal-item {
    margin-right: 10px; 
    background-color: #f4f4f4;
    border: solid 2px #cccccc;
    border-radius: 24px;
}

.img1 {
    background-image: url('https://images.pexels.com/photos/355465/pexels-photo-355465.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
    background-color: black;
    
}




.img1:hover{
    filter: brightness(100%);
}


.img2{
    background-image: url('https://images.pexels.com/photos/1470502/pexels-photo-1470502.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
}
.img2:hover{
    filter: brightness(100%);
}


.img3{
    background-image: url('https://images.pexels.com/photos/711193/pexels-photo-711193.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
}
.img3:hover{
    filter: brightness(100%);
}


.img4{
    background-image: url('https://images.pexels.com/photos/2422259/pexels-photo-2422259.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
}
.img4:hover{
    filter: brightness(100%);
}

.img5{
    background-image: url('https://images.pexels.com/photos/1308940/pexels-photo-1308940.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
}
.img5:hover{
    filter: brightness(100%);
}


.img6{
    background-image: url('https://images.pexels.com/photos/851039/pexels-photo-851039.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
}
.img6:hover{
    filter: brightness(100%);
}


.img7{
    background-image: url('https://images.pexels.com/photos/2040876/pexels-photo-2040876.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
}
.img7:hover{
    filter: brightness(100%);
}

.img8{
    background-image: url('https://images.pexels.com/photos/122244/pexels-photo-122244.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
}
.img8:hover{
    filter: brightness(100%);
}

.img9{
    background-image: url('https://images.pexels.com/photos/3732494/pexels-photo-3732494.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
}
.img9:hover{
    filter: brightness(100%);
}
.img10{
    background-image: url('https://images.pexels.com/photos/1878293/pexels-photo-1878293.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
}
.img10:hover{
    filter: brightness(100%);
}
.img11{
    background-image: url('https://images.pexels.com/photos/208745/pexels-photo-208745.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
}
.img11:hover{
    filter: brightness(100%);
}

.card-img-top{
    filter: brightness(80%);
}
.card-img-top:hover{
    filter: brightness(100%);

}
.img-lady{
    background-image: url('./images/lady\ bgsvg.svg');
    margin-left: 100px;
    
}

/* Hide the element with class "hide-on-small-screen" on screens with a maximum width of 768px */
@media (max-width: 768px) {
    #hide {
      visibility: hidden;
    }
   

  }

  .img-13{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.685) 100%),url('https://images.pexels.com/photos/1534411/pexels-photo-1534411.jpeg?auto=compress&cs=tinysrgb&w=400'); 
  }
  .img-13:hover{
    background-image: linear-gradient(to bottom, rgba(252, 109, 21, 0.816) 0%, rgba(255, 108, 23, 0.788) 100%),url('https://images.pexels.com/photos/1534411/pexels-photo-1534411.jpeg?auto=compress&cs=tinysrgb&w=400');
    
     
}
.card.img-13.shadow:hover p {
    display: none;
}


  .img-14{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.685) 100%), url('https://images.pexels.com/photos/3989957/pexels-photo-3989957.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .img-14:hover{
    background-image:  url('https://images.pexels.com/photos/3989957/pexels-photo-3989957.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');

  }
  
  .img-15{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.685) 100%), url('https://images.pexels.com/photos/2079666/pexels-photo-2079666.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .img-15:hover{
    background-image:url('https://images.pexels.com/photos/2079666/pexels-photo-2079666.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  }
  
  .img-16{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.685) 100%), url('https://images.pexels.com/photos/3290075/pexels-photo-3290075.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .img-16:hover{
    background-image:url('https://images.pexels.com/photos/3290075/pexels-photo-3290075.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');

  }
  
  .img-17{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.685) 100%), url('https://images.pexels.com/photos/4744570/pexels-photo-4744570.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .img-17:hover{
    background-image:url('https://images.pexels.com/photos/4744570/pexels-photo-4744570.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');

  }
  
  .img-18{
    background-image: url('./images/phone\ bg.svg');
    height: 200px;
    margin-top: 200px;
  }

  a{
    text-decoration: none;
    color: #f4f4f4;
  }
  .icon{
    opacity: 60%;
  }
  .icon:hover{
    opacity: 100%;
  }
  button:hover{
    transform: scale(1.05);

  }
.navitem{
    opacity: 80%;
}
.navitem:hover{
    opacity: 100%;
}